body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.bulb-light{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
}
.light{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bulb-class{
    height: 200px;
    width: 125px;
}